
.wrapper{
  background: #fff;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction:column ;
}
.content{
  flex: 1 1 auto;
}
header{
  background: #fff;
  height: 70px;
  padding: 15px  15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  padding-right: 64px;
}

.logo{
  cursor: pointer;
  padding-left: 30px;
}
.nav__list li {
display: inline-block;
padding: 0px 26px;
}
.nav__list li a {
color:  #071330;
font-size: 15px;
line-height: 18px;
}
.nav-btn{
}
button{
  height: 40px;
  width: 152px;
  background:  #3D55F9;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
}
.skin{
  padding: 10px 0;
}
.skin__row{
  display: flex;
  justify-content: space-between;
}
.skin__body{
  padding: 110px 0px 0px 170px;
}
.skin__title{
  width: 460px;
  height: 100px;
  font-size: 43px;
  line-height: 50px;
  color: #071330;
}
.skin__text {
  font-weight: normal;
  width: 450px;
  height: 97px;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
  margin: 81px 0px;
}
.skin__request {
  height: 80px;
  background: #ffff;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
  border-radius: 20px;
  margin: 24px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skin__request button{
  height: 56px;
  width: 172px;
  padding: 12px 12px 12px 0;
}
.request__text {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #071330;
  padding: 31px 0 31px 32px;
}
.skin__image{
  margin-right: 20%;
}