
.wrapper{
  background: #fff;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction:column ;
}
.content{
  flex: 1 1 auto;
}
header{
  background: #fff;
  height: 70px;
  padding: 15px  15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav{
  padding-right: 64px;
}

.logo{
  cursor: pointer;
  padding-left: 30px;
}
.nav__list li {
display: inline-block;
padding: 0px 26px;
}
.nav__list li a {
color:  #071330;
font-size: 15px;
line-height: 18px;
}
button{
  height: 40px;
  width: 152px;
  background:  #3D55F9;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
}